body {
	border: 0;
	margin: 0;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.title {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
}
.p1 {
    padding: 10px;
    padding-top: 8vh;
}
.p1-profile {
    padding: 10px;
    text-align: -webkit-center;
    padding-top: 8vh;
}
.img-a {
    width: fit-content;
    display: block;
    border-radius: 100vw;
}
.imgback {
    padding: 20px;
    background-image: linear-gradient(white, blue);
    border-radius: 100vw;
    width: max-content;
    overflow: hidden;
}
.profile-img {
    width: 20vw;
    border-radius: 100vw;
    border: 2px solid white;
}
.net-footer {
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
footer {
    z-index: -1;
    background-color: rgb(0,0,0,0.9);
    padding: 10px 2vw;
    bottom: 0;
    color: #f1f1f1;
    display: inline-flex;
    width: 100%;
    margin: 0;
}
.footer-ul {
    padding: 0;
}
.footer-ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 5px;
}
.footer-ul li a {
    padding: 5px;
    color: white;
    text-transform: uppercase;
}
.f1, .f2, .f3 {
    display: inline-block;
    padding: 10px;
    width: 33.33%;
    margin: 0;
    position: inherit;

}
.subject, .email, .textarea {
    width: -webkit-fill-available;
    padding: 10px;
    border: 0px;
    text-transform: uppercase;
    margin-bottom: 5px;
    border-radius: 3px;
}
.content {
	display: initial;
    height: auto;
    top: 10vh;
    position: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
}
.para {
	text-align: justify;
}
@media all and (max-width: 425px) {
	body {
		background-color: lightblue;
	}
}
.title {
	display: inline-block;
	width: 50%;
}
.right-ul {
	display: inherit;
    list-style: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15vh;
    padding: 0;
    margin: 0;
}
/* @media screen and (min-width: 425px) {
	ul {
		display: none;
	}
} */
.div-menu {
	float: right;
    padding: 10px;
    display: inline-block;
    height: auto;
    cursor: pointer;
}
.menu {
    cursor: pointer;
    float: right;
    display: inline-block;
    background-color: transparent;
    color: white;
    border: none;
    font-size: large;
}
.right-menu {
    filter: drop-shadow(0px -10px 7px black);
	width: 25vw;
    height: -webkit-fill-available;
    display: none;
    position: fixed;
    right: 0;
    background-color: darkblue;
    top: 0;
    z-index: 10;
}
.right-ul li {
	padding: 2.5%;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom: 5%;
    text-align: start;
    margin-left: 10px;
}
.right-ul li a {
	color: white;
    text-decoration: none;
}
.right-ul li:hover, .footer-ul li:hover {
    filter: drop-shadow(0px 0px 5px black);
    transition: .7s;
    background-image: linear-gradient(to right, #e40505 , transparent);
    cursor: pointer;
}
a {
	color: black;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
}
.nav {
	position: fixed;
	color: white;
    padding: 0;
    margin: 0;
    width: -webkit-fill-available;
    height: fit-content;
    background-color: blue;
    display: inline-table;
    filter: drop-shadow(0px 0px 5px black);
    top: 0;
    z-index: 10;
}
.closebtn {
	color: white;
    font-size: xx-large;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    margin: 0;
}
.p2-profile {
    text-align: center;
    background-color: aliceblue;
    overflow: hidden;
    display: block;
    width: 100%;
    z-index: -2;
}
.skills-ul {
    padding: 0;
    margin: 0;
    display: -webkit-inline-box;
    -webkit-box-align: center;
}
.skills-ul li {
    margin: 0 2vw;
    list-style-type: none;
    display: -webkit-inline-box;
    padding: 0 5vw;
    z-index: -1;
    vertical-align: middle;
}
.skills-ul li a {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.skills-ul li a img {
    width: 10vw;
    z-index: -1;
}
.content-profile {
    display: initial;
    height: auto;
    top: 7.5vh;
    position: inherit;
    z-index: -1;
    padding: 0;
    margin: 0;
    width: 100vw;
}